SetEnv APP_ENV development

<IfModule mod_rewrite.c>
    # Enable rewrites
    Options +FollowSymLinks
    RewriteEngine on

    # TRACE and TRACK HTTP methods disabled to prevent XSS attacks
    RewriteCond %{REQUEST_METHOD} ^TRAC[EK]
    RewriteRule .* - [L,R=405]

    # Always send 404 on missing files in these folders
    RewriteCond %{REQUEST_URI} !^/(media|skin|public)/

    # Never rewrite for existing files, directories and links
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l

    # Rewrite everything else to index.php
    RewriteRule .* index.php [L]
</IfModule>

<IfModule mod_expires.c>
    # Add default Expires header
    ExpiresDefault "access plus 1 year"
</IfModule>

# By default allow all access
Order allow,deny
Allow from all